<input
  class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
  type="text"
  (input)="actualizarLibros($event)"
  placeholder="Filtrar libros" />

<div class="relative flex flex-col w-full mt-5 bg-white shadow-md rounded-xl bg-clip-border">
  <nav class="flex min-w-[240px] flex-col gap-1 p-2 font-sans text-base font-normal text-blue-gray-700">
    @defer {
      @for (libro of librosFiltrados(); track libro.id) {
        @defer {
          <app-libro [libro]="libro" />
        }
      }
    }
    Embeeded views creadas son:
    defer dentro -> libros.length * 2
    defer fuera -> libros.length + 1
  </nav>
</div>

<!-- 1. Prefetch / 2. Renderizado (trigger) -->

@defer (when show; prefetch when show) {
  <app-footer />
} @placeholder {
  <app-placeholder />
}


<p #ref>Cargando...</p>
<!-- <ng-container #container /> -->

<!--
  Predefined triggers (on):
  1. idle (requestIdleCallback)
  2. viewport con @placeholder o sin (con target) (IntersectionObserver API)
  3. interaction con @placeholder (click, keydown events)
  4. hover (moseenter y focusin events)
  5. immediate
  6. timer (setTimeout)

  Custom triggers (when + boolean...)
-->
